@font-face {
    font-family: 'akira';
    src: url('assets/fonts/Akira Expanded Demo.otf') format('opentype');
}

@font-face {
    font-family: 'coolvetica';
    src: url('assets/fonts/coolvetica rg.otf') format('opentype');
}